@import './../../../bank';

.legalEntity {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;

  span {
    font-size: 0.8rem;
  }
}

.body {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    color: $white;
    padding: auto 0;
    background-color: $theme-gray-5;
  }

  input[type='radio'] {
    margin: 10px 0;
    display: none;
  }

  input[type='radio']:checked + label {
    background-color: $theme-purple;
    color: $theme-gray;
  }
}
