@import './../../../bank';

.legalEntity {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  justify-content: space-evenly;

  span {
    font-size: 0.8rem;
  }
}

.body {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 5px 0;
    padding: 10px 20px;
    color: $dark-gray;
    background-color: $light-gray;
  }
  label:hover {
    background-color: #bebebe;
  }

  input[type='radio'] {
    margin: 10px 0;
    display: none;
  }

  input[type='radio']:checked + label {
    background-color: $purple-light;
    color: $purple;
  }
}
