@import '../../../bank';

.button {
  background-color: $theme-gray;
  color: $font-dark-gray;
  display: inline-block;
  padding: 6px 16px;
  cursor: pointer;
  border: none;
  box-shadow: $box-shadow;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: $purple-light;
  color: $purple;
}

.active {
  background-color: $purple-light;
  color: $purple;
}

.buttonBlack {
  background-color: black;
  color: #fff;
}

.buttonWhite {
  background-color: white;
  color: #000;
}

.buttonGray {
  background-color: $theme-gray;
  color: #000;
}
