@import '../../../bank';

.button {
  background-color: $theme-gray;
  color: #fff;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
}

.button:hover {
  opacity: 1;
}

.active {
  background-color: #fff;
  color: #000;
  opacity: 1;
}

.buttonGreen {
  background-color: $green-light;
  color: $green;
}

.buttonBlue {
  background: $blue-light;
  color: $blue;
}

.buttonOrange {
  background-color: $orange-light;
  color: $orange;
}

.buttonPurple {
  background-color: $purple-light;
  color: $purple;
}

.buttonRed {
  background-color: $red-light;
  color: $red;
}

.buttonOcean {
  background-color: $ocean-light;
  color: $ocean;
}

.buttonGray {
  background-color: $theme-gray;
  color: #000;
}
