.reception {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  flex-direction: column;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: row;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.right {
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: row;
  align-items: flex-start;
}
