$theme-black: #1e1e1e;
$theme-gray: #323232;
$theme-purple: #bba3ff;
$theme-gray-5: #565656;

$font-gray: #858585;
$counter-green: #98f2bd;

$order-green: #98f2bd;
$order-blue: #63c7ff;
$order-orange: #ffc163;
$order-purple: #bba3ff;
$order-red: #fe918a;
$order-ocean: #49e2f6;

$white: #fff;
$black: black;
