@import '../../../bank';

.input {
  padding: 5px 0 5px 10px;
  border: 1px $light-gray solid;
  border-radius: 5px;
  margin: 5px 0;
  width: auto;
}

.disable {
  pointer-events: none;
  background-color: $light-gray;
  &::placeholder {
    color: $font-dark-gray;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
